.cards-lorem {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: block;
    color: $sec-font-color;
    padding-bottom: 0;
    margin: 0;
    gap: 30px;
   

    &__icon {
        background-color: $sec-background-color;
        border-radius: 4px;
        flex-wrap: wrap;
        height: 120px;
        width: 100%;
        margin-bottom: 30px;
    }
   
    &__svg{
        margin-left: 191px;
    }
    &__introduction {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $font-color;
        text-align: justify;
        display: flex;
        margin-bottom: 10px;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
.cards-lorem {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $sec-font-color;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0;
    margin: 0 auto;
   &__list{
    flex-basis: calc((100% - 30px)/ 2);
        flex-wrap: wrap;
   }
    
    &__icon {
        background-color: $sec-background-color;
        border-radius: 4px;
        width: 354px;
        height: 120px;
        margin-bottom: 30px;
    }
        &__svg {
            margin-left: 143px;
        }
    &__introduction {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $font-color;
        text-align: justify;
        display: flex;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
}
@media (min-width: 1200px){
.cards-lorem {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $sec-font-color;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    padding-bottom: 0;
    margin: 0 auto;

    &__icon {
        background-color: $sec-background-color;
        border-radius: 4px;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
    }

    &__svg {
        margin-left: 100px;
    }

    &__introduction {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $font-color;
        text-align: justify;
        display: flex;
        margin-bottom: 10px;
    }
}
}