@media (max-width: 767px) {
.clients {
    &__list {
        display: flex;
        gap: 30px;
        flex-basis: calc((100% - 30px) / 2);
        flex-wrap: wrap;
    }
    &__card{
        margin: 0 auto;
        flex-basis: calc(50% - 15px);
        max-width: calc(50% - 15px);
        flex-wrap: wrap;
    }
    &__svg {
        fill: $icons-color;
        width: auto;
        height: 60px;
    }
    &__link{
        display: flex;
        justify-content: space-between;
        border: 1px solid $icons-color;
        border-radius: 4px;
        max-width: 210px;
        height: 92px;
        padding: 16px 0;
    }

    &__link:hover svg,
    &__link:focus svg {
        outline: none;
        fill: $link-color;
        border-color: $link-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover,
    &__link:focus {
        border-color: $link-color;
    }
}
}
@media (min-width: 768px) and (max-width: 1199px){ 
        .clients {
            &__list {
                width: 738px;
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                flex-basis: calc((100% - 30px) / 3);
            }
// muszę dodać width 738px bo inaczej nie działa, kombinowałam z containerem ale psuło się wszystko :)

            &__svg {
                fill: $icons-color;
                width: auto;
                height: 60px;
            }

            &__link {
                display: flex;
                justify-content: space-between;
                border: 1px solid $icons-color;
                border-radius: 4px;
                width: 226px;
                height: 92px;
                padding: 16px 32px;
            }

            &__link:hover svg,
            &__link:focus svg {
                outline: none;
                fill: $link-color;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            &__link:hover,
            &__link:focus{
                border-color: $link-color;
            }
        }
    }
@media (min-width: 1200px){
    .clients {
            &__list {
                display: flex;
                gap: 30px;
            }
            &__svg {
                fill: $icons-color;
                width: auto;
                height: 60px;
            }
    
            &__link {
                display: flex;
                justify-content: space-between;
                border: 1px solid $icons-color;
                border-radius: 4px;
                width: 170px;
                height: 92px;
                padding: 16px 32px;
            }
    
            &__link:hover svg,
            &__link:focus svg {
                outline: none;
                fill: $link-color;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
    
            &__link:hover,
            &__link:focus {
                border-color: $link-color;
            }
        }
}