
.main-web {
    background-color: $third-background-color;
    background-image: url("../Images/header-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    min-width: 320px;
    max-width: 1600px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__btn {
        width: 200px;
        height: 50px;
        border: none;
    }
}
@media (min-width: 768px){
.main-web {
    background-color: $third-background-color;
    background-image: url("../Images/header-img-tablet.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__btn {
        width: 200px;
        height: 50px;
        border: none;
    }
}
}
@media (min-width: 1200px){
.main-web {
    background-color: $third-background-color;
    background-image: url("../Images/header-img-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1600px;
    min-height: 600px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__btn {
        width: 200px;
        height: 50px;
        border: none;
    }
}
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
(min-width: 1200px) and (min-resolution: 192dpi),
(min-width: 1200px) and (min-resolution: 2dppx) {
    @media (min-width: 767px){
    .main-web {
        background-image: url("../Images/header-img-desktop@2x.jpg");
    }
}
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
(min-width: 1200px) and (min-resolution: 192dpi),
(min-width: 1200px) and (min-resolution: 2dppx) {
    @media (min-width: 768px){
    .main-web {
        background-image: url("../Images/header-img-tablet@2x.jpg");
    }
}
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
(min-width: 1200px) and (min-resolution: 192dpi),
(min-width: 1200px) and (min-resolution: 2dppx) {
    @media (min-width: 1200px){
    .main-web {
        background-image: url("../Images/header-img-desktop@2x.jpg");
    }
}
}
/*
.main-web {
    background-color: $third-background-color;
    background-image: url("../Images/background-zipped.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__btn {
        width: 200px;
        height: 50px;
        border: none;
    }
}*/