
.menu-modal {
    position: absolute;
    padding: 48px 40px;
    max-width: 767px;
    width: 100vmin;
    height: 100%;
    background-color: $main-color;
   

    &__link {
        text-decoration: none;
        color: $font-color;

        &:hover,
        &:focus {
            cursor: pointer;
            color: $link-color;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &-close {
        display: flex;
        background-color: $main-color;
        position: absolute;
        border: none;
        top: 21px;
        right: 25px;
        width: 18.67px;
        height: 18.67px;
        cursor: pointer;

        &:hover,
        &:focus {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            fill: $link-color;
        }
    }
  

    &__grid {
        display: flex;
        flex-direction: column;
        margin-bottom: 39.8%;
        font-family: $main-font;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        gap: 32px;
    }

    &__grid--contacts {
        display: flex;
        flex-direction: column;
        gap: 4.16vmax;
        color: $sec-font-color;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        color: $sec-font-color;
        margin-bottom: 64px;
    }

    &__phone {
        text-decoration: none;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        color: $link-color;
    }

    &__mail {
        text-decoration: none;
        color: $sec-font-color;

        &:hover,
        &:focus {
            color: $link-color;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__grid--media {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__media {
        border-right: 1px solid $modal-border-color;
        color: $link-color;
        padding-right: 10px;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }

    &--no-border {
        border: none;
    }

   &--agency-highlight {
       color: $link-color;
   }

   &--portfolio-highlight {
       color: $link-color;
   }
}