
.menu-modal{
    position: absolute;
    padding: 48px 40px;
    max-width: 767px;
    width: 100vmin;
    height: 100vmax;
    background-color: $main-color;
    &__link{
        text-decoration: none;
        color: $font-color;
    }

    &-close{
        display: flex;
        background-color: $main-color;
        position: absolute;
        border: none;
        top: 21px;
        right: 25px;
        width: 18.67px;
        height: 18.67px;
        cursor: pointer;
        
                &:hover,
                &:focus  {
                    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    fill: $link-color;
                }
            }
    &__grid{
        display: flex;
        flex-direction: column; 
        gap: 32px;
        margin-bottom: 302px;
        font-family: $main-font;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
    }
    &__grid--contacts{
        margin-bottom: 64px;
        color: $sec-font-color;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        color: $sec-font-color;
    }
    &__phone{
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        color: $link-color;
    }
    &__mail{
        text-decoration: none;
        color: $sec-font-color;
    }
   &__grid--media{
    display:flex;
    gap: 10px;
   }

    &__media {
        border-right: 1px solid $modal-border-color;
        color: $link-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }
}
