a .team__link {
    height: 44px;
    display: block;
}
.team {
    background: $sec-background-color;
    min-height: 622px;

    &__icon {
        background-size: contain;
        fill: $icons-color;


        &:hover {
            border-radius: 50%;
            border-width: 44px;
            background-color: $link-color;
            fill: $main-color;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
  &__icons__list {
      margin-top: 16px;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      align-content: flex-start;
      gap: 10px;
  }
    .team__link:focus .team__icon {
        outline: none;
        border-radius: 50%;
        border-width: 44px;
        background-color: $link-color;
        fill: $main-color;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__cards {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: $sec-font-color;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-evenly;
    }
    

    &__label {
        display: flex;
        flex-direction: column;
        background-color: $main-color;
        align-content: center;
        margin: 0;
        padding: 0;
    }

    &__box {
        background-color: $main-color;
        box-shadow: 0px 1px 3px $shadow-third-color, 0px 1px 1px $shadow-sec-color, 0px 2px 1px $shadow-background-color;
        border-radius: 0px 0px 4px 4px;

    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: $font-color;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__img {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 767px){
    .team{
    &__cards{
        flex-direction: column;
    }
   
    &__box{
        width: 100%;
        width: 450px;
    }
}
}

@media (min-width: 768px) and (max-width: 1199px){
.team {
    background: $sec-background-color;
    min-height: 708px;
   
    &__icon {
        background-size: contain;
        fill: $icons-color;


        &:hover {
            border-radius: 50%;
            border-width: 44px;
            background-color: $link-color;
            fill: $main-color;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__icons__list {
        margin-top: 16px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        gap: 10px;
    }

    .team__link:focus .team__icon {
        outline: none;
        border-radius: 50%;
        border-width: 44px;
        background-color: $link-color;
        fill: $main-color;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__cards {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        width: 738px;
        letter-spacing: 0.03em;
        color: $sec-font-color;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-basis: calc((100% - 30px) / 2);
        flex-wrap: wrap;
        gap: 30px;
    }
 
    &__label {
        display: flex;
        flex-direction: column;
        background-color: $main-color;
        align-content: center;
        margin: 0;
        padding: 0;
    }

    &__box {
        background-color: $main-color;
        box-shadow: 0px 1px 3px $shadow-third-color, 0px 1px 1px $shadow-sec-color, 0px 2px 1px $shadow-background-color;
        border-radius: 0px 0px 4px 4px;
        width: 354px;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: $font-color;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
}
@media (min-width: 1200px){
.team {
    background: $sec-background-color;
    min-height: 708px;

    &__icon {
        background-size: contain;
        fill: $icons-color;


        &:hover {
            border-radius: 50%;
            border-width: 44px;
            background-color: $link-color;
            fill: $main-color;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__icons__list {
        margin-top: 16px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        gap: 10px;
    }

    .team__link:focus .team__icon {
        outline: none;
        border-radius: 50%;
        border-width: 44px;
        background-color: $link-color;
        fill: $main-color;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__cards {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: $sec-font-color;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-evenly;
    }

    &__label {
        display: flex;
        flex-direction: column;
        background-color: $main-color;
        align-content: center;
        margin: 0;
        padding: 0;
    }

    &__box {
        background-color: $main-color;
        box-shadow: 0px 1px 3px $shadow-third-color, 0px 1px 1px $shadow-sec-color, 0px 2px 1px $shadow-background-color;
        border-radius: 0px 0px 4px 4px;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: $font-color;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
}