 
    .article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 320px;
        max-width: 480px;
        min-height: 400px;
        margin: 0 auto;
    }


@media only screen and (min-width:768px) and (max-width:1199px) {
    .article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 768px;
        min-height: 400px;
    }
}

@media screen and (min-width:1200px) {
    .article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1600px;
        min-height: 600px;
    }
}